/* FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
}

.fadeOut {
    animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-100px, 0);
    }

    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(-100px, 0);
        opacity: 0;
    }
}


.overflow-wrap{
    overflow-wrap: break-word;
}

.calendar{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check{
    visibility: hidden;
}

.check-container:hover .check{
    visibility: visible;

}


::placeholder{
    font-size: 1.1rem;
}

.text-field{
    table-layout: fixed;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    -ms-word-break: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.pop-up{
    display:none ;
   transition-property: ease-in-out;
   transition-duration: 2s;
}

@keyframes notification {
   
}

.pop-down {
    display: flex;
   transition-property: ease-in-out;

transition-duration: 2s;
}